body {
	background-color: ghostwhite;
}

#top-nav {
	background-color: #2C2249;
	padding: 1.5em;
}

#body {
	padding-top: 2.5em;
}

#about {
	padding-bottom: 2.5em;
}

h1 {
	color: ghostwhite;
}

h1 > small{
	color: ghostwhite;
}